body {
	background-color: $background-color;
	color: $font-color;
	font-family: $font-family;
	font-size: 14px;
	font-weight: 300;
	margin: 0;
	padding: 2em 0 1em;

	.wrapper {
		clear: both;
		margin: 0 auto;
		max-width: 500px;
		min-width: 300px;
		overflow: hidden;
		position: relative;
		width: 95%;
	}

	.loading {
		position: absolute;

		&:before {
			background: rgba(0,0,0,.6);
			bottom: 0;
			content: "";
			display: none;
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 10;
		}

		&.active {
			&:before { display: block; }
		}

		.loading-dialog {
			background: darken($white, 0.5%);
			border: 1px solid $gray;
			left: 50%;
			margin-left: -200px;
			position: fixed;
			text-align: center;
			top: -100%;
			width: 360px;
			z-index: 11;
		}
	}

	#body, #footer { clear: both; }
}